weights/*
!weights/.gitignore
results/*
!results/.gitignore
data/xml-data/*
data/npy-data/*
!data/xml-data/.gitignore
!data/npy-data/.gitignore
.env
utils_mimic_dataset/extract-mimic-data/data-tables
__pycache__
